<div ng-controller="ChatController">

<div class="school">
	<span>{{positionU()}}</span>
</div>

<h2>Write course-related questions here</h2>
<h2>Your position: {{positionU()}}, {{positionC()}}</h2>
  <a class="rounded button" ng-href="#/">Switch course</a>
  <div id="chat">
    <i id="avatar" class="face12"></i>
    <input type="text" ng-model="query" placeholder="Type your message..."> 
    <button class="rounded button" ng-click="publish(query)">Send</button>
  </div>
  <p ng-bind="precense"></p>
  <div ng-bind-html="content"></div>
</div>
