<div id="welcomepage" ng-controller="homeCtrl"> 

<div class="school">
	<span>{{getUni()}}</span>
</div>

<h2>Welcome to UniChat!</h2>
<h3>Select a course to chat about</h3>

<div class="bubble" ng-repeat="course in courses()">
	<a id="courseSelector" ng-click="startCC(course.id)" href="#/chatView">{{course.name}}</a>
	<br/>
</div>
<br/>
<hr>
<h2 style="font-size:34px">Add a course</h2>
<div class="course">
<input type="text" ng-model="courseName" placeholder="course name" style="width:300px"> 
<input type="text" ng-model="courseCode" placeholder="course code" style="width:300px"></br>
<button id="add" class="rounded button" ng-click="addCourse(courseName, courseCode)">Add</button>
</div>



</div>
